/* Dashboard Page Styles */
.dashboard-container {
    background: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  
  .dashboard-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  
  .profile-section {
    width: 40%;
    padding: 16px;
    background-color: #f7f7f7;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .actions-section {
    width: 40%;
    padding: 16px;
  }
  
  .profile-section h3,
  .actions-section h3 {
    font-size: 18px;
    color: #333;
  }
  
  .profile-section p {
    font-size: 14px;
    color: #666;
  }
  
  .logout-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-btn:hover {
    background-color: #2f2f2f;
  }
  